*{
    margin: 0;
    padding: 0;
}

.encabezado{
    background: #f3f5fc;
    width: 100%;
}

.logo{
    padding-top: 0px;
    margin-left: 40px;
    width: 15%;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc
}

.texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 4%;
    border: none;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    background-color: #f3f5fc;
}

.texto::placeholder{
    color: #0A3871;
}
.texto:focus,
.texto:active {
    border: none;
    outline: none;
}
.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    height: 18px;
    width: 252px;
    left: 12%;
    top: 50%;
    border-radius: 0px;
}
.terminos img{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.terminos p{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 54%;
    gap: 24px;
}

.btn-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 25%;
    background-color: #0A3871;
    border-radius: 24px;
    font-family: Inter;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: aliceblue;
    font-weight: 100;
}
.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 25%;
    background: #f3f5fc;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #f3f5fc;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}
.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    height: 122px;
    top: 65%;
    text-align: center
}
.mensaje-encriptado h2 {
    width: 60%;
    font-family: Inter;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0em;
    text-align: center;
    color: #495057;
}
.mensaje-encriptado p {
    width: 80%;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: center;
    color: #495057;
}
.encriptado img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

/* //// Starting Footer //// */
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
.footer{
    display: flex;
    /* justify-content: space-between; */
    background-color: #f3f5fc;
    padding: 2%;
}
.mensaje-final{
    font-family: Inter;
    font-size: 14px;
    width: 130%;
    padding-left: 5%;
}
.copyright{
    font-family: Inter;
    font-size: 14px;
    width: 100%;
    padding-left: 5%;
}
body {
    background: #f3f5fc;
}
.new_footer_area {
    background: #f3f5fc;
    ;
}
.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/


/* Responsive designe */

@media (max-width: 57.5em) {
    .container{
    display: flex;
    flex-direction: row;
    height: 80vh;
    }
    .logo{
        width: 38%;
    }
    .encriptar{
        width: 100%;
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 67%;
        height: 0%;
    }
    .terminos p{
        font-size: 16px;        
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar{
        width: 48%;
        border-radius: 16px;
    }
    .btn-desencriptar{
        width: 48%;
        justify-content: center;
    }
    .btn-encriptar:hover,.btn-desencriptar:hover {
        margin: 0.3%;
        width: 42%;
        padding: 1.8%;
    }
    .encriptado {
        display: none;
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje-encriptado {
        width: 100%;
        top: 5%;
    }
    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
    .footer{
        flex-direction: column;
        padding: 1%;
    }
    .mensaje-final {
        width: 100%;
        padding-left: 2%;
        font-size: x-small;
    }
    .copyright {
        width: 100%;
        font-size: x-small;
    }
}
